<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudyHoa_Client_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CloudyHoa_Client_.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </CloudyHoa_Client_.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ObjectServicePoint">
                    <security mode="None" />
                </binding>
                <binding name="ApartmentResidents">
                    <security mode="None" />
                </binding>
                <binding name="HoaAdmin">
                    <security mode="None" />
                </binding>
                <binding name="SPService">
                    <security mode="Message" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc"
                binding="wsHttpBinding" bindingConfiguration="ObjectServicePoint"
                contract="ObjectServiceReference.IObjectsService" name="ObjectServicePoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc"
                binding="wsHttpBinding" bindingConfiguration="ApartmentResidents"
                contract="ResidentsService.IApartmentResidents" name="ApartmentResidents">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc"
                binding="wsHttpBinding" bindingConfiguration="HoaAdmin" contract="ServiceReference1.IServiceHoaAccount"
                name="HoaAdmin" />
            <endpoint address="http://localhost:7744/WcfServiceLibrary.StaticParamsService.svc"
                binding="wsHttpBinding" bindingConfiguration="SPService" contract="SPServiceReference.IStaticParamsService"
                name="SPService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
