<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CloudyHoa_Client_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <CloudyHoa_Client_.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </CloudyHoa_Client_.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <ws2007HttpBinding>
                <binding name="HoaAdmin">
                    <security>
                        <message algorithmSuite="Basic256Sha256Rsa15" />
                    </security>
                </binding>
                <binding name="ObjectServicePoint">
                    <security>
                        <message algorithmSuite="Basic256Sha256Rsa15" />
                    </security>
                </binding>
                <binding name="SPService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" algorithmSuite="Basic256Sha256Rsa15" />
                    </security>
                </binding>
                <binding name="ApartmentResidents">
                    <security>
                        <message algorithmSuite="Basic256Sha256Rsa15" />
                    </security>
                </binding>
                <binding name="PersonalAccount">
                    <security>
                        <message algorithmSuite="Basic256Sha256Rsa15" />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ObjectsService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="ObjectServicePoint"
                contract="ObjectServiceReference.IObjectsService" name="ObjectServicePoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ServiceHoaAccount.svc"
                binding="ws2007HttpBinding" bindingConfiguration="HoaAdmin"
                contract="ServiceReference1.IServiceHoaAccount" name="HoaAdmin">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-ND3IK90" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.StaticParamsService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="SPService"
                contract="SPServiceReference.IStaticParamsService" name="SPService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.ApartmentResidents.ApartmentResidents.svc"
                binding="ws2007HttpBinding" bindingConfiguration="ApartmentResidents"
                contract="ResidentsService.IApartmentResidents" name="ApartmentResidents">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7744/WcfServiceLibrary.PersonalAccountService.svc"
                binding="ws2007HttpBinding" bindingConfiguration="PersonalAccount"
                contract="PAService.IPersonalAccountService" name="PersonalAccount">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
